.SBox{
	margin: 40px 0;
}

.SBox .col{
	display: inline-block;
	width:40px;
	text-align: center;
}

.block{
	max-width: 700px;
	border: 1px solid lightcoral;
	border-radius: 10px;
	padding: 20px;
	margin: 40px auto;
	box-shadow: 5px 10px 10px 0 #ddd;
}

.block-grey{
	max-width: 700px;
	border: 1px solid #AAAAAA;
	border-radius: 10px;
	padding: 20px;
	margin: 40px auto;
	box-shadow: 5px 10px 10px 0 #ddd;
}

.title{
	text-align: center;
	font-size: 14px;
	color: #777;
	font-weight: 800;
	margin: 20px 0;
}

.finaltext{
	color: white;
	background-color: indianred;
}

/* 按钮——红 */
.button-red {
	margin: 20px 0;
	text-align: center;
	line-height: 8vmin;
	font-size: 3vmin;
	color: white;
	width: 20vmin;
	height: 8vmin;
	border-radius: 1vmin;
	border: none;
	box-shadow: 0 1vmin 2vmin #ccc;
	cursor: pointer;
	background-color: rgba(234, 32, 39, 0.8);
	position: relative;
	overflow: hidden;
	top: 0;
	transition: 0.4s;
}

.button-red:hover {
	position: relative;
	top: -0.5vmin;
	box-shadow: 0 1.5vmin 3vmin #aaa;
}

.button-red:before {
	transition: 0.4s;
	position: absolute;
	bottom: -26vmin;
	left: -26vmin;
	content: "";
	background-color: rgba(234, 32, 39, 1.0);
	width: 30vmin;
	height: 30vmin;
	border-radius: 15vmin;
	z-index: -1;
}

.button-red:hover:before {
	position: absolute;
	bottom: -15vmin;
	left: -5vmin;
	width: 30vmin;
	height: 30vmin;
}